<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi, librarian!!</title>
</head>
<body>
{% if author_by_id %}
<h1>Hi, your author:</h1>
<table>
    <thead>
        <tr>
            <td><h2>ID</h2></td>
            <td><h2>Name</h2></td>
            <td><h2>Surname</h2></td>
            <td><h2>Patronymic</h2></td>
            <td><h2>Books</h2></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{author_by_id.id}}</td>
            <td><h3>{{author_by_id.name}}</h3></td>
            <td><h3>{{author_by_id.surname}}</h3></td>
            <td><h3>{{author_by_id.patronymic}}</h3></td>
            {% for book in books %}
                {% for author in book.authors.all %}
                    {% if author_by_id.id == author.id %}
                        <td><h3>||| {{book.name}} </h3></td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    </tbody>
</table>
{% else %}
<h1> Author is not found!</h1>
{% endif %}  
</body>
</html>

